:root {
    --star-size: 20px;
    --star-color: #fff;
    --star-background: black;
    --star-border:1px solid black;
  }
  
.Stars {
    --percent: calc(var(--rating) / 5 * 50%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.Stars::before {
    content: '★★★★★★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.movie{
    display: flex;
    justify-content: space-between;
}

.moviesData{
    width: 400px;
    border: 1px solid black;
}